<p>formulario3 works!</p>

<div class="card">
  <div class="card-body">
    <form action="">
      <div class="mb-2">
        <label for=""  class="form-label" >Nombre</label>
        <input type="text" class="form-control" placeholder="ingrese su nombre" [formControl]="name">

        <div class="alert alert-danger" [hidden]="name.valid || name.pristine">Nombre Obligatorio</div>
      </div>

      <div class="mb-2">
        <label for=""  class="form-label" >Email</label>
        <input type="email" class="form-control" placeholder="ingrese su email" [formControl]="email">
        <div class="alert alert-danger" [hidden]="email.valid || email.pristine">
          <span *ngIf="email.errors?.['required']">
            el email debe ser obligatorio
          </span>
          <span *ngIf="email.errors?.['email']">
            el email debe ser valido 
          </span>
        </div>

      </div>
      <button class="btn btn-primary">enviar</button>
    </form>

  </div>
</div>

